<section class="password-reset confirmation">
  <div class="container">
    <div class="col-md-7 col-md-offset-3">
      <h1 class="pg-title">Password Reset Confirmation</h1>
      <p>
        <span class="copy-text">We've email you instructions on how to reset your password. You should receive it shortly.</span>
      </p>
    </div>
  </div>
</section>
