<% if @subscription.present? %>
  $(".sign_up_message").text("You have successfully subscribed for the newsletters")
<% else %>
  $(".sign_up_message").text("You have already subscribed for the newsletters")
<% end %>
