<section class="reset-password">
  <div class="container">
    <h1 class="pg-title">Resend Confirmation Instructions</h1>
    <div class="page-center-container">
      <div class="col-md-5">
        <div class="row">
          <p>
            <span class="copy-text">Didn't receive confirmation instructions? Enter your email address below, and we'll re-send instructions.</span>
          </p>
        </div>
        <div class="form-wrapper">
          <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
            <%= devise_error_messages! %>
            <fieldset class="fieldset input-fields">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw fa-2x"></i></span>
                <%= f.text_field :email, class: 'form-control required email', placeholder: 'myemail@domain.com', id: 'confirmation-email' %>
                <div class="hint">
                  <span class="ValidationErrors"></span>
                </div>
              </div>
            </fieldset>
            <div class="action row">
              <%= f.submit 'Resend confirmation instructions', class: 'btn btn-primary btn-lg' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>