<div class="pop-up">
  <h1>Update your Password</h1>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>

    <div class="field input-gruop">
      <span class="input-group-addon"><i class="fa fa-lock fa-fw fa-2x"></i></span>
      <%= f.password_field :current_password, :placeholder => "Old Password", :class => "form-control" %>
      <%= error_message_on(resource,:current_password) %>
    </div>

    <div class="field input-gruop">
      <span class="input-group-addon"><i class="fa fa-unlock-alt fa-fw fa-2x"></i></span>
      <%= f.password_field :password, :autocomplete => "off", :placeholder => "New Password", :class => "form-control" %>
      <%= error_message_on(resource,:password) %>
   </div>
   
    <div class="field input-gruop">
      <span class="input-group-addon"><i class="fa fa-unlock-alt fa-fw fa-2x"></i></span>
      <%= f.password_field :password_confirmation, :placeholder => "Confirm new password", :class => "form-control" %>
      <%= error_message_on(resource,:password_confirmation) %>
    </div>
    <div class="actions">
      <%= colorbox_cancel_link %>
      <%= f.submit "Update Password", :class => "btn btn-primary btn-lg" %>
    </div>
  <% end %>
</div>