<section class="create-account">
  <div class="container">
      <div>
        <h1 class="pg-title">Join Postbord Now</h1>
      </div>
    <div class="col-md-10 col-md-offset-1">
      <div class="col-md-5">
        <%= render 'devise/shared/social-connect'  %>
        <div class="crt-new-acc">
            <h3>Already have an account? </h3>
            <%= link_to 'Sign in', new_session_path(resource_name), class: 'hyperlink' %>
          </div>
      </div>
      <div class="form-wrapper col-md-6">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>
            <fieldset class="fieldset input-fields">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user fa-fw fa-2x"></i></span>
                <%= f.text_field :first_name, class: 'form-control required alphabet', placeholder: 'First name' %>
                <div class="hint">
                  <span class="ValidationErrors"></span>
                </div>
              </div>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user fa-fw fa-2x"></i></span>
                <%= f.text_field :last_name, class: 'form-control required alphabet', placeholder: 'Last name' %>
                <div class="hint">
                  <span class="ValidationErrors"></span>
                </div>
              </div>

              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw fa-2x"></i></span>
                <%= f.text_field :email, class: 'form-control email required', placeholder: 'myemail@domain.com' %>
                <div class="hint">
                  <span class="ValidationErrors"></span>
                </div>
              </div>

              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock fa-fw fa-2x"></i></span>
                <%= f.password_field :password, class: 'form-control required password-strength password', placeholder: 'Password' %>
                <div class="hint">
                  <span class="ValidationErrors"></span>
                </div>
              </div>

              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock fa-fw fa-2x"></i></span>
                <%= f.password_field :password_confirmation, class: 'form-control required', placeholder: 'Confirm password' %>
                <div class="hint">
                  <span class="ValidationErrors"></span>
                </div>
              </div>
              <div class="input-group">
                <%= f.check_box :subscribe_to_newsletter %>
                <%= f.label "Subscribe me for Newsletter" %>
              </div>
            </fieldset>
             <%= raw captcha_tag %>
            <div class="action row">
              <%= f.submit 'Create my account', class: 'btn btn-primary btn-lg ' %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
