<%- if controller_name != 'sessions' %>
  <%= link_to 'Sign in', new_session_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to 'Sign up', new_registration_path(resource_name) %><br />
<% end -%>

<p><%= link_to "Sign in with Linkedin",  social_url("linkedin") %></p>
<p><%= link_to "Sign in with Facebook",  social_url("facebook") %></p>
<p><%= link_to "Sign in with Twitter",  social_url("twitter") %></p>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
  <%= link_to 'Forgot your password?', new_password_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider) %><br />
  <% end -%>
<% end -%>
