<div class="social-integration">
  <div class="btn twitter-btn">
    <%= link_to social_url('twitter'), class: 'connect with-twitter' do %>
      <i class="fa-twitter fa-fw fa fa-2x"></i>
      <span>Connect with Twitter</span>
    <% end %>
  </div>
  <div class="btn">
    <%= link_to social_url('facebook'), class: 'connect with-facebook' do %>
      <i class="fa-facebook fa-fw fa fa-2x"></i>
      <span>Connect with Facebook</span>
    <% end %>
  </div>
  <div class="btn">
    <%= link_to social_url('linkedin'), class: 'connect with-linkedin' do %>
      <i class="fa-linkedin fa-fw fa fa-2x"></i>
      <span>Connect with Linkedin</span>
    <% end %>
  </div>
  <div class="btn">
    <%= link_to social_url('google'), class: 'connect with-google-plus' do %>
      <i class="fa-google-plus fa-fw fa fa-2x"></i>
      <span>Connect with Google+</span>
    <% end %>
  </div>
</div>
