<span class="fa fa-warning fa-fw fa-2x"></span>
<h3>Confirm Update</h3>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, quasi, adipisci explicabo non minima voluptates?
</p>
<br/>
