<section class="finishing-touches">
  <fieldset>
    <legend>Finishing Touches</legend>
    <h3>How candidates apply</h3>
    <div class="how-to-apply">
      <div>
        <%= f.radio_button :application_method, "linkedin", :id => "job_linkedin_application_method" %>
        <%= f.label "linkedin_application_method","Collect applications on Linkedin and be notified by email" %>
        <div class="clearfix"></div>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-envelope fa-fw fa-2x"></i></span>
          <%= f.text_field :notification_email, :placeholder => "Email", :class => "form-control" %>
        </div>
        <div class="clearfix"></div>
        <span>Your email address will not be disclosed to candidates.</span>
        <%= error_message_on(@job,:notification_email) %>
      </div>
      <div class="clearfix"></div>
      <br>
      <div>
        <%= f.radio_button :application_method, "external", :id => "job_external_application_method" %>
        <%= f.label "external_application_method","Direct applicants to external site to apply." %>
        <div class="clearfix"></div>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-globe fa-fw fa-2x"></i></span>
        <%= f.text_field :application_url, :placeholder => "Enter url here", :class => "form-control" %>
        <%= error_message_on(@job,:application_url) %>
      </div>
      <%= error_message_on(@job,:application_method) %>
      <div class="clearfix"></div>
    </div>
  </fieldset>
</section>