<%= nested_form_for(@job) do |f| %>

 <%= render :partial => "work_experience", :locals => {:f => f} %>
 <%= render :partial => "position", :locals => {:f => f} %>
 <%= render :partial => "finishing_touches", :locals => {:f => f} %>
 <%= render :partial => "pricing", :locals => {:f => f} %>

  <div class="actions">
    <%= f.submit :class => "save btn btn-primary btn-lg " %>
    <%= f.submit "Save as Draft", :name => "save_as_draft", :class => "btn btn-primary btn-lg draft" %>
    <%= f.submit "Preview", :name => "preview", :class => "btn btn-primary btn-lg draft" %>
  </div>
<% end %>
