<tr>
  <td><%= job.company_title %></td>
  <td><%= job.title %></td>
  <td><%= job.created_at.strftime("%B %d, %Y") %></td>
  <% if recruiter? %>
    <td>
      <%= link_to '<i class="fa fa-edit"></i> Edit'.html_safe, edit_job_path(job) %>
      <%= link_to '<i class="fa fa-trash-o"></i> Destroy'.html_safe, job, :class => "destroy_job", method: :delete %>
      <div class="delete-confirm" title="Confirm Delete" style="display:none;">
        <div class="col-xs-12 job-confirm">
          <span class="fa fa-warning fa-fw fa-2x"></span>
          <h3>Confirm Delete!</h3>
          <p>Are you sure you want to delete this job?</p>
          <div class="pull-right">
            <%= link_to "Yes, delete", "#", :onclick => "$('#job_#{job.id}').click();", :class => "btn-lg btn btn-primary" %>
            <%= link_to "Cancel", "#", :onclick => "$.colorbox.close();", :class => "Cancel" %>
            <%= link_to "X", job , method: :delete, class: "delete-job hidden", id: "job_#{job.id}" %>
          </div>
        </div>
      </div>
    </td>
  <% end %>
</tr>
