<section class="position">
  <fieldset>
    <legend>Position</legend>
    <div class="title">
      <div class="clearfix"></div>
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-suitcase fa-fw fa-2x"></i></span>
        <%= f.text_field :title, :placeholder => "Job Title", :spellcheck => true, :class => "form-control"  %>
      </div>
      <%= error_message_on(@job,:title) %>
    </div>
    <div class="experience-level">
      <%= f.label :experience_level, "Experience Level"  %>
      <div class="clearfix"></div>
      <%= f.select :experience_level, options_for_select(ExperienceLevel.all.collect{|e| [e.title,e.id]}, @job.experience_level_id) %>
    </div>
    <div class="industries">
      <%= label_tag :job_function, "Job Function"  %>
      <%= f.fields_for :job_roles do |job_role| %>
        <%= job_role.select :job_function_id, options_for_select(JobFunction.all.collect{|i| [i.title, i.id] }, job_role.object.job_function_id) %>
        <%= job_role.link_to_remove "Remove" %>
      <% end %>
      <%= f.link_to_add "Add another", :job_roles %>
    </div>
    <div class="employment-type">
      <%= f.label :employment_type, "Employment Type"  %>
      <div class="clearfix"></div>
      <%= f.select :employment_type, options_for_select(EmploymentType.all.collect{|e| [e.title,e.id]}, @job.employment_type_id) %>
    </div>
    <div class="description">
      <%= f.label :description, "Job Description"  %>
      <div class="clearfix"></div>
      <%= f.text_area :description, :class => "editor", :rows => 10, :cols => 20 %>
      <%= error_message_on(@job,:description) %>
    </div>
    <div class="desired-skills">
      <%= f.label :desired_skills, "Desired Skills and Experience"  %>
      <div class="clearfix"></div>
      <%= f.text_area :desired_skills, :class => "editor", :rows => 10, :cols => 20 %>
      <%= error_message_on(@job,:desired_skills) %>
    </div>
  </fieldset>
</section>