<section class="pricing">
  <fieldset>
    <legend>Enter job location for pricing</legend>
    <div class="country">
      <%= f.label :country_id, "Country"  %>
      <div class="clearfix"></div>
      <%= f.select :country_id, options_for_select(Country.all.collect{|c| [c.name.capitalize,c.id]}, @job.country_id), :include_blank => "Choose..."  %>
      <%= error_message_on(@job,:country_id) %>
      <div class="clearfix"></div>
      <strong></strong>
      <div class="clearfix"></div>
      <div class="pricing-options">
        <div>
          <%= f.radio_button :package, "US$ 195.00" %>
          <%= label_tag "thirty-day-posting", "30-day posting" %>
          <%= label_tag "US$ 195.00" %>
        </div>
        <div>
          <%= f.radio_button :package, "US$ 155.00 per job" %>
          <%= label_tag "five-job-pack", "5-job pack" %>
          <%= label_tag "155-per-job", "US$ 155.00 per job" %>
          <span>(Save 20%)</span>
        </div>
        <div>
          <%= f.radio_button :package, "US$ 125.00 per job" %>
          <%= label_tag "ten-job-pack", "10-job pack" %>
          <%= label_tag "125.per-job", "US$ 125.00 per job" %>
          <span>(Save 35%)</span>
        </div>
        <div class="start-date">
          <div class="commence-date">
            <%= f.label :start_date, "Commence Date"  %>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-calendar fa-fw fa-2x"></i></span>
              <%= f.text_field :start_date, :value => @job.start_date.try(:formatted_date), :class => "datepicker form-control" %>
            </div>
          </div>
          <div class="finish-date">
            <%= f.label :end_date, "Finish Date"  %>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-calendar fa-fw fa-2x"></i></span>
              <%= f.text_field :end_date, :value => @job.end_date.try(:formatted_date), :class => "datepicker form-control" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</section>
<div id="dialog-confirm" title="Confirm Update" style="display:none;">
    <div class="col-xs-12 job-confirm">
    <%= render :partial => "confirm_update_job" %>
    <div class="pull-right">
      <%= link_to "Cancel", "#", :onclick => "$.colorbox.close();", :class => "Cancel" %>
      <%= link_to "OK", "#", :onclick => "$('form').submit()", :class => "btn-lg btn btn-primary" %>
    </div>
  </div>
</div>
