<section class="work-environment">
  <fieldset>
    <legend>Work Environment</legend>
    <div class="company">
      <%= f.label :company_name, "Company"  %>
      <div class="clearfix"></div>
      <% if @job.new_record? %>
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-building-o fa-fw fa-2x"></i></span>
        <%= f.text_field :company_name, :value => current_user.company_name, :class => "form-control"  %>
      </div>
      <% else %>
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-building-o fa-fw fa-2x"></i></span>
        <%= f.text_field :company_name, :value => @job.company_title, :class => "form-control" %>
      </div>
      <% end %>
      <%= error_message_on(@job,:company_name) %>
    </div>
    <div class="company-description">
      <%= f.label :company_description, "Company Description"  %>
      <div class="clearfix"></div>
      <%= f.text_area :company_description, :value => @job.company_info, :class => "editor", :spellcheck => true, :rows => 10, :cols => 20 %>
      <%= error_message_on(@job,:company_description) %>
    </div>
    <div class="industries">
      <%= label_tag "Industry"  %>
      <%= f.fields_for :job_industries do |indutry_form| %>
        <%= indutry_form.select :industry_id, options_for_select(Industry.all.collect{|i| [i.title, i.id] }, indutry_form.object.industry_id), :include_blank => "Select Industry" %>
        <%= indutry_form.link_to_remove "Remove" %>
      <% end %>
      <%= f.link_to_add "Add another", :job_industries %>
    </div>
  </fieldset>
</section>