<h1>Listing Jobs</h1>

<table class="table table-striped">
  <tr>
    <th>Company</th>
    <th>Position</th>
    <th>Posted</th>
    <% if recruiter? %>
      <th>Actions</th>
    <% end %>
  </tr>

  <% @jobs.each do |job| %>
    <%= render job %>
  <% end %>
</table>

<br />
<div class="crt-new-acc">
  <%= link_to 'Create Job Post', new_job_path if recruiter? %>
</div>
