<div class="job-preview">
  <fieldset>
    <legend>Work Environment:</legend>
    <strong>Company:</strong> <%= @job.company_name %>
    <div class="clearfix"></div>
    <strong>Company Description:</strong> <%= @job.company_info.html_safe %>
    <div class="clearfix"></div>
    <strong>Industry: </strong> <%= @job.industries.collect(&:title).join(", ") if @job.job_industries.first.industry_id.present? %>
  </fieldset>

  <fieldset>
    <legend>Position:</legend>
    <strong>Job Title:</strong> <%= @job.title %>
    <div class="clearfix"></div>
    <strong>Experience:</strong> <%= @job.experience_level_name %>
    <div class="clearfix"></div>
    <strong>Job Function:</strong> <%= @job.job_functions.collect(&:title).join(", ") %>
    <div class="clearfix"></div>
    <strong>Experience:</strong> <%= @job.employment_type_name %>
    <div class="clearfix"></div>
    <strong>Job Description: </strong> <%= @job.description.html_safe %>
    <div class="clearfix"></div>
    <strong>Desired Skills and Experiences: </strong> <%= @job.desired_skills.html_safe %>
  </fieldset>

  <strong>Country: </strong><%= @job.country.try(:name) %>
  <div class="clearfix"></div>
  <%= link_to 'Back', edit_job_path(@job) %>
</div>