<section class="sign-in">
  <h1 class="pg-title">Set up Password</h1>
  <div class="page-center-container">
    <div class="col-md-5">
      <div class="row">
        <p>
          <span class="copy-text">Please enter your new password twice so we can verify you typed it in correctly.</span>
        </p>
      </div>
      <div class="form-wrapper">
        <%= form_for(resource, as: resource_name, url: update_password_path(resource_name), html: { method: :put }) do |f| %>
            <%= devise_error_messages! %>
            <%= f.hidden_field :reset_password_token %>
            <%= f.hidden_field :reset_password_token if resource.recruiter? %>
            <fieldset class="fieldset input-fields">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock fa-fw fa-2x"></i></span>
                  <%= f.password_field :password, autofocus: true, class: 'form-control password required', placeholder: 'Enter new password' %>
                </div>
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock fa-fw fa-2x"></i></span>
                  <%= f.password_field :password_confirmation, class: 'form-control password required', placeholder: 'Confirm new password' %>
                </div>
            </fieldset>
            <div class="action row">
              <%= f.submit 'Set Password', class: 'btn btn-primary btn-lg' %>
            </div>
        <% end %>
       </div>
    </div>
  </div>
</section>
