<section class="reset-password">
  <div class="container">
    <h1 class="pg-title">Forgot Password</h1>
    <div class="page-center-container">
    <div class="col-md-5">
      <div class="row">
        <p>
          <span class="copy-text">Forgotten your password? Enter your email address below, and we'll send instructions for setting a new one.</span>
        </p>
      </div>
      <div class="form-wrapper">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= devise_error_messages! %>
            <fieldset class="fieldset input-fields">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw fa-2x"></i></span>
                <%= f.text_field :email, autofocus: true, class: 'form-control required email', placeholder: 'myemail@domain.com' %>
                <div class="hint">
                  <span class="ValidationErrors"></span>
                </div>
              </div>
            </fieldset>
            <div class="action row">
              <%= f.submit 'Reset password', class: 'btn btn-primary btn-lg' %>
            </div>
        <% end %>
      </div>
    </div>
    </div>
  </div>
</section>
