<%= form_tag(profile_skills_path(@user), :remote => true, :method => :post) do %>

  <div style="margin-top: 20px">
    <div class="name input-group col-md-5">
      <%= text_field_tag "skills", "", :spellcheck => true, :class => "form-control" %>
    </div>
    <button id="addtag" class="btn btn-primary btn-lg" >Add</button>
    <div class="clearfix"></div>
    <%= text_field_tag "tags", user_skills %>
  </div>
  <div class="saveCancel">
    <div class="inner">
      <%= link_to "Cancel",  "#", :onclick => 'location.reload();', :class => "btn btn-primary btn-lg"  %>
      <%= submit_tag "Save", :class => "btn btn-primary btn-lg" %>
    </div>
  </div>

<% end %>
