<div class="skill-index">
  <div class="pull-left span8 col-md-12">
    <div class="pull-left"><h3><i class="fa fa-wrench fa-1x"></i>
      <span>Skills &amp; Expertise</span></h3></div>
    <div class="pull-right">
      <%= link_to '<i class="fa fa-plus"></i> Add Skill'.html_safe, edit_profile_skills_path(@user), 
       :class => "add-skills-colorbox", :id => "add-skills-colorbox" %>
      
    </div>
  </div>
  <div class="clearfix"></div>
  <ul class="col-md-12">
    <div class="skills">
      <input type="text" id="completed_tags" value="<%= @user.skills.collect(&:name).join(",") %>"  />
    </div>
    <div class="skills-form">
      <%= render "form" %>
    </div>
  </ul>

</div>
