<div class="profile">
  <div class="header"><%= render :partial => 'profiles/header' %></div>
  <div class="left-container col-lg-3">
    <div class="user-img">
      <h4><%= @user.name %></h4>
      <%= render :partial => 'profiles/position' %>
    </div>
    <div class="details">
      <div class="clearfix"></div>
      <% unless recruiter? %>
        <div class="incomplete"><%= profile_completeness_prompt %></div>
      <% end %>
      <div class="clearfix"></div>
      <div class="pull-left span4"><%= render :partial => 'profiles/navigation' %></div>
    </div>
  </div>
  <div class="right-container col-lg-9">
    <%= render :partial => 'profiles/current_position' %>
    <div class="pull-right"><%= render :partial => 'profiles/menu' %></div>
    <div class="forms"><%= render :partial => 'skills' %></div>
  </div>
</div>
