function has_text(iteration, text){
  content = $(iteration).map(function(){
    return $(this).text().replace(/\s/g, '').toLowerCase()
  })
  return  $.inArray(text.toLowerCase(),content) >= 0
}
$(".forms").html("<%= raw escape_javascript(render :partial => 'skills/skills') %>")
$("#skills").autocomplete(
{
  source: "/suggestions?from=Skill&for=name"
})
$('#tags').tagsInput()
  $('#completed_tags').tagsInput()
$('#addtag').click(function(){
  if($(".skills-form .tag span").length < 36 && $('#skills').val().replace(/\s/g, '') != '' && !has_text($(".tag span"), $('#skills').val().replace(/\s/g, '')))
  {
    $('#tags').addTag($("#skills").val().replace(/\s/g, ''));
  }
  $('#skills').val('')
  return false
})
$("#add-skills-colorbox").click(function(e){
  $(".skills-form").toggle()
  $(".skills").toggle()
  e.preventDefault()
  return false
})
