<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @skill.user_id %>
</p>

<p>
  <b>Name:</b>
  <%= @skill.name %>
</p>


<%= link_to 'Edit', edit_skill_path(@skill) %> |
<%= link_to 'Back', skills_path %>
