<div class="pull-left span8 col-md-12">
  <div class="pull-left"><h3><i class="fa fa-file-text-o fa-1x"></i>
    <span>Experience</span></h3></div>
  <div class="pull-right">
    <%= link_to '<i class="fa fa-plus"></i> Add Experience'.html_safe, new_profile_experience_path(@user), :class => 'add-experience-colorbox' %>
  </div>
</div>

<ul>
  <% @experiences.each do |experience| %>
    <li class="experience %>">
      <div class="title"><%= experience.title %></div>
      <div class="edit-link">
        <%= link_to edit_profile_experience_path(@user, experience), :class => 'edit-experience-colorbox' do  %>
          <i class="fa fa-pencil-square-o"></i>
        <% end %>
      </div>
      <div class="MB10">
        <span class="userCompany"><%= experience.company %></span>
        <span class="date"><%= experience_date(experience.start_date) %> - <%= end_date_of(experience) %> (<%= duration_for_experience(experience) %>) | <%= experience.location %></span>
      </div>
      <div class="description"><%= experience.job_description %></div>
    </li>
  <% end %>
</ul>
