<div class="field input-gruop">
  <span class="input-group-addon"><i class="fa fa-briefcase fa-fw fa-2x"></i></span>
  <%= f.text_field :company, :spellcheck => true, :placeholder => 'Company Name', :class => "form-control" %>
  <%= error_message_on(@experience,:company) %>
</div>

<div class="field input-gruop">
  <span class="input-group-addon"><i class="fa fa-suitcase fa-fw fa-2x"></i></span>
  <%= f.text_field :title, :spellcheck => true, :placeholder => 'Job Title', :class => "form-control" %>
  <%= error_message_on(@experience,:title) %>
</div>

<div class="field input-gruop">
  <span class="input-group-addon"><i class="fa fa-map-marker fa-fw fa-2x"></i></span>
  <%= f.text_field :location, :spellcheck => true, :placeholder => 'Location', :class => "form-control" %>
  <%= error_message_on(@experience,:location) %>
</div>

<div class="field input-gruop">
  <%= label_tag :start_date %><br />
  <span class="input-group-addon"><i class="fa fa-calendar fa-fw fa-2x"></i></span>
  <%= text_field_tag 'start_date', @experience.start_date.try(:strftime, ('%m/%y')), :placeholder => 'MM/YYYY', :class => "form-control" %>
  <%= error_message_on(@experience,:start_date) %>
</div>

<div class="field input-gruop">
  <%= label_tag :end_date %><br />
  <span class="input-group-addon"><i class="fa fa-calendar fa-fw fa-2x"></i></span>
  <%= text_field_tag "end_date", @experience.end_date.try(:strftime, ('%m/%y')), :placeholder => 'MM/YYYY', :class => "form-control" %>
</div>

<%= f.hidden_field :start_date %>
<%= f.hidden_field :end_date %>

<div class="field">
  <%= f.check_box :current, :value => 1 %>
  <%= f.label :current, 'I currently work here' %><br />
</div>

<%= error_message_on(@experience,:either_end_or_current) %>
<%= error_message_on(@experience,:future_dates) %>
<%= error_message_on(@experience,:date_compatibilty) %>


<div class="field">
  <%= f.text_area :job_description, :spellcheck => true, :placeholder => 'Job Description', :class => "form-control" %>
  <%= error_message_on(@experience,:job_description) %>
</div>

<div class="field">
  <%= f.check_box :hidden %>
  <%= f.label :hidden %>
</div>

<div class="actions">
  <%= remove_experience_link if @experience.persisted? %>
  <%= colorbox_cancel_link %>
  <%= f.submit 'Update Experience',:class => "btn btn-primary btn-lg" %>
</div>
