<div class="pop-up">
  <h1>Editing experience</h1>
  <%= form_for([@user, @experience], :url => profile_experience_path(@user, @experience), :method => :put) do |f| %>
    <%= render :partial => 'form', :locals => {:f => f} %>
  <% end %>
</div>
