$(".forms").html("<%= raw escape_javascript(render :partial => 'experiences/experiences') %>")
$(".add-experience-colorbox").colorbox({iframe: true, innerWidth: "50%", innerHeight: "80%"});
$(".edit-experience-colorbox").colorbox({iframe: true, innerWidth: "50%", innerHeight: "80%"});
