<div class="pop-up">
  <h1>Add experience</h1>
  <%= form_for([@user, @experience], :url => profile_experiences_path) do |f| %>
    <%= render :partial =>'form', :locals => {:f => f} %>
  <% end %>
</div>
