<div class="edu-del">
  <h3>Are you sure you want to delete this Career/Experience</h3>
  <%= link_to 'Yes, delete', profile_experience_path(@user, @experience), :class => "btn btn-primary btn-lg", :method => :delete %>
  <%= link_to 'Cancel', edit_profile_experience_path(@user, @experience), :class => "Cancel" %>
</div>
