<p id="notice"><%= notice %></p>

<p>
  <b>Company:</b>
  <%= @experience.company %>
</p>

<p>
  <b>Title:</b>
  <%= @experience.title %>
</p>

<p>
  <b>Location:</b>
  <%= @experience.location %>
</p>

<p>
  <b>Start date:</b>
  <%= @experience.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @experience.end_date %>
</p>

<p>
  <b>Job description:</b>
  <%= @experience.job_description %>
</p>

<p>
  <b>User:</b>
  <%= @experience.user_id %>
</p>


<%= link_to 'Edit', edit_experience_path(@experience) %> |
<%= link_to 'Back', experiences_path %>
