<% @user ||= resource  %>
<section class="sign-in">
  <div class="container">
    <div>
      <h1 class="pg-title">Sign into your Postbord Account</h1>
    </div>
    <div class="col-lg-11 col-lg-offset-1">
      <div class="col-lg-5">
        <%= render 'devise/shared/social-connect'  %>
          <div class="crt-new-acc">
              <h3>New to Postbord? </h3>
              <%= link_to 'Create an account', new_registration_path(resource_name), class: 'hyperlink' %>
          </div>
      </div>
      <div class="form-wrapper col-lg-6">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), method: :post) do |f| %>
            <fieldset class="fieldset input-fields">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw fa-2x"></i></span>
                <%= f.text_field :email, "data-tooltip" => 'myemail@domain.com', class: 'form-control email required simptip-position-right', placeholder: 'myemail@domain.com' %>
              </div>

              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock fa-fw fa-2x"></i></span>
                <%= f.password_field :password, class: 'form-control password required', placeholder: 'Password' %>
              </div>
              <div class="row">
                <% if devise_mapping.rememberable? -%>
                    <div class="remember-me-box">
                      <%= f.check_box :remember_me, class: 'checkbox remember-me' %> <%= f.label :remember_me, 'Stay signed in', class: 'checkbox' %>
                    </div>
                <% end -%>
                <div class="forgot-password-link text-right">
                  <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
                      <%= link_to 'Forgot your password?', new_password_path(resource_name), class: 'hyperlink' %>
                  <% end %>
                </div>
              </div>
            </fieldset>
            <% if @user.has_max_failed_attempts? %>
              <%= raw captcha_tag %>
            <% end %>
            <div class="action row">
              <%= f.submit 'Sign in', class: 'btn btn-primary btn-lg' %>
            </div>
            <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
                <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name), class: 'confirmation' %><br />
              <% end -%>
        <% end %>
      </div>
    </div>
    <%= render :partial => "shared/signup_for_newsletter" %>
  </div>
</section>
