<div class="pull-left span8 col-md-12">
  <div class="pull-left"><h3><i class="fa fa-certificate fa-1x"></i>
    <psan>Certificates</span></h3></div>
  <div class="pull-right">
    <%= link_to '<i class="fa fa-plus"></i> Add Certificate'.html_safe, new_profile_certificate_path(@user), :class => 'add-certificate-colorbox' %>
  </div>
</div>

<ul class="col-md-12">
  <% @certificates.each do |certificate| %>
    <%= render :partial => "certificate", :locals => {:certificate => certificate} %>
  <% end %>
</ul>
