<li class="certificate">
  <div class="title"><%= certificate.name %></div>
  <div class="edit-certificate-link">
    <%= link_to edit_profile_certificate_path(@user, certificate), :class => "edit-certificate-colorbox" do  %>
      <i class="fa fa-pencil-square-o"></i>
    <% end %>
  </div>
  <div class="pull-left">
    <span class="userCompany"><%= certificate.authority %></span>
    <div class="date">
      <%= certificate.month %> <%= certificate.year %> - Present
    </div>
  </div>
  <div class="pull-right"><%= link_to_preview(certificate) %></div>
</li>
