<div class="field input-gruop">
  <span class="input-group-addon"><i class="fa fa-briefcase fa-fw fa-2x"></i></span>
  <%= f.text_field :name, :placeholder => "Certification Name", :class => "form-control" %>
  <%= error_message_on(@certificate,:name) %>
</div>

<div class="field input-gruop">
  <span class="input-group-addon"><i class="fa fa-briefcase fa-fw fa-2x"></i></span>
  <%= f.text_field :authority, :placeholder => "Certification Authority", :class => "form-control" %>
  <%= error_message_on(@certificate,:name) %>
</div>

<div class="field input-gruop date">
  <%= f.select :month, options_for_select(month_names, @certificate.month), :include_blank => "Month" %>
  <%= error_message_on(@certificate,:month) %>
  <%= f.text_field :year, :placeholder => "Year", :maxlength => '4', :class => "form-control" %> 
  <span>--- Present</span>
  <%= error_message_on(@certificate,:year) %>
  <%= error_message_on(@certificate,:current_date) %>
</div>

<div class="field">
   <% if @certificate.persisted? && @certificate.attachment.present? %>
      <i class="fa fa-upload"></i>
      <div class="formRight"><%= File.basename(@certificate.attachment.url.split("?").first) %>
      <%= link_to "X", remove_attachment_profile_certificate_path(@user, @certificate), :method => :delete, :confirmation => "Are you sure?" %>
   <% else %>
     <%= f.label :attachment, :id => "certificate-attachment" do %>
      <i class="fa fa-upload"></i> <span>Upload Certificate</span>
     <% end %>
     <%= f.file_field :attachment, :style => "display:none;" %>
     <%= error_message_on(@certificate,:attachment) %>
     <div class="formError"></div>
   <% end %>
</div>

<div class="field">
  <%= f.check_box :hidden %>
  <%= f.label :hidden %>
</div>

<div class="actions">
  <%= remove_certificate_link if @certificate.persisted? %>
  <%= colorbox_cancel_link %>
  <%= f.submit "Add", :class => "btn btn-primary btn-lg" %>
</div>
