<div class="pop-up">
  <h1>Editing certificate</h1>
  <%= form_for([@user, @certificate], :html => {:multipart => true}, :url => profile_certificate_path(@user, @certificate)) do |f| %>
    <%= render :partial => 'form', :locals => {:f => f} %>
  <% end %>
</div>
