$(".forms").html("<%= raw escape_javascript(render :partial => 'certificates/certificates') %>")
$(".add-certificate-colorbox").colorbox({iframe: true, innerWidth: "50%", innerHeight: "50%"});
$(".edit-certificate-colorbox").colorbox({iframe: true, innerWidth: "50%", innerHeight: "50%"});
$(".colorbox").colorbox()
