<div class="pop-up">
  <h1>Add Certificate</h1>
  <%= form_for([@user, @certificate], :html => {:multipart => true}, :url => profile_certificates_path) do |f| %>
    <%= render :partial => 'form', :locals => {:f => f} %>
  <% end %>
</div>
