<div class="edu-del">
	<h3>Are you sure you want to delete this Certificate</h3>
  <%= link_to "Yes, delete", profile_certificate_path(@user, @certificate), :class => "btn btn-primary btn-lg", :method => :delete %>
  <%= link_to "Cancel", edit_profile_certificate_path(@user, @certificate), :class => "Cancel" %>
</div>
