<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @certificate.name %>
</p>

<p>
  <b>Authority:</b>
  <%= @certificate.authority %>
</p>

<p>
  <b>Month:</b>
  <%= @certificate.month %>
</p>

<p>
  <b>Year:</b>
  <%= @certificate.year %>
</p>


<%= link_to 'Edit', edit_certificate_path(@certificate) %> |
<%= link_to 'Back', certificates_path %>
