/*
    background colors
*/
.bg-alabster { background: #f9f9f9; }
.bg-link-water { background: #DCEAF3; }

/*
    brand icon colors. --- see http://brandcolors.net/ for more details
*/
.social-icons .facebook-icon:hover, .facebook-icon:hover { color: #3b5998; }
.social-icons .google-plus-icon:hover, .google-plus-icon:hover { color: #dd4b39; }
.social-icons .linkedin-icon:hover, .linkedin-icon:hover { color: #0e76a8; }
.social-icons .rss-icon:hover, .rss-icon:hover { color: #ee802f; }
.social-icons .twitter-icon:hover, .twitter-icon:hover { color: #00acee; }
.social-icons .youtube-icon:hover, .youtube-icon:hover { color: #c4302b; }
.social-icons .yahoo-icon:hover, .yahoo-icon:hover { color: #720e9e; }
.social-icons .stack-overflow-icon:hover, .stack-overflow-icon:hover { color: #ef8236; }
.social-icons .skype-icon:hover, .skype-icon:hover { color: #00aff0; }
.social-icons .pinterest-icon:hover, .pinterest-icon:hover { color: #c8232c; }
.social-icons .github-icon:hover, .github-icon:hover { color: #171515; }
