.disabled{
  pointer-events:none;
  background-color: #e1e1e1 !important;
}
.user-hidden{
  border: 1px solid red;
}
.formError{
  color:red;
}
.skills-form{
  display: none;
}
.edit-avatar
{
  width:150px;
  height: 150px;
  background: transparent;
  text-align: center;
  float:left;
  a.btn{
    position: relative;
    top: 50%;
  }
}
.show{
  position: relative;
}
#preview{
  overflow: hidden;
  position: relative;
  min-height: 150px;
  min-width: 150px;
  img{
    position: absolute;
  }
}
.profile-image-label{
  cursor: pointer;
  color:#000fff;
  text-decoration: underline;
  font-size: 12px;
}
.edit-avatar{
  position: relative;
  a{
    left: 108px;
    position: absolute;
    top: 10px;
  }
}
.fa-social{
  width:75px;
}
.link-connected{
  width:125px;
  border: 1px solid #000000;
  height: 40px;
  margin: 20px;
  padding:5px;
}
.industries .fields:nth-child(2) a{
  display: none;
}
body.passwords .reset-password{
  .LV_validation_message.LV_valid{
    display: none;
  }
}
#error_explanation{
  h2{
    display: none;
  }
}
.header-dropdown{
  li > a{
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
li.user-menu > a
{
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
