body {
  font: 14px normal 'Open Sans' arial, san-serif;
  line-height: 20px;
  color: #333;
}
ul, ol, nav ul {
  list-style: none;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
  -moz-padding-start: 0px;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
h3 {
  margin-top: 15px;
  font-size: 17px;
}
/*a {
  color: #333;
}
a:hover {
  color: #00b7e6;
  text-decoration: none;
}*/
a:hover {
  text-decoration: none;
}
a:focus {
  outline: 0;
  outline-offset: 0;
  text-decoration: none;
}
select {
  padding: 10px 5px;
  border: 1px solid #ccc;
}
label {
  font-weight: normal;
  font-size: 13px;
}
::selection {
  background: #00b7e6;
  color: #fff;
}
.MB15 {
  margin-bottom: 15px;
}
.MB10 {
  margin-bottom: 10px;
}
.formError {
  font-size: 12px;
  font-weight: bold;
  margin: 0 0 0 5px;
  color: #CC0000;
}
/*
	header
*/
.navbar {
    border-radius: 0px;
}
.goldfinger .navbar {
    border-bottom: 1px solid rgb(204, 204, 204);
    margin-bottom: 5px;
    background: rgb(241, 241, 241);
}
.goldfinger .header.navbar {
    height: 55px;
    vertical-align: middle;
    line-height: 20px;
    white-space: nowrap;
    padding-bottom: 0px;
    width: 100%;
    position: relative;
    top: 0;
    z-index: 10;
    border: 0;
}
.header.navbar .container .navbar-header {
    width: 100%;
}
.header .collapse .pull-right.nav li ul li {
    border-left: rgb(204, 204, 204) 1px solid;
}
.input-group-addon:first-child {
  border-right: 1px solid #cbcbcb;
}

/*
  Mixins
*/

@mixin text-transform-capitalize {
  text-transform: uppercase;
}
@mixin purple-btn {
  border: 1px solid #5e268b;
  background-color: #6d319d;
  color: #fff;
  text-transform: uppercase;
  &:hover{
    border: 1px solid #4a1a70;
    background-color: #5f278b;
  }
  &:focus,
  &:active{
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
     box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  }
}
@mixin canelBtn {
  background: #333;
  color: #fff;
  border: 1px solid #151515;
  text-transform: uppercase;
  &:hover{
    background: #262626;
  }
  &:focus,
  &:active{
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
     box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  }
}

/*
    theme & layouts
    */
.centered {
    padding: 10px 0;
    margin: 0 auto;
    position: relative;
    width: 100%;
    display: block;
    clear: both;
}
.social-icons a {
    font-size: 10px;
    margin-right: 10px;
    color: #666;
}
.main-section {
  min-height: 365px;
}
/*
    forms
*/

/*
  footer
*/
.footer {
  width: 100%;
  margin-top: 50px;
  height: auto;
  clear: both;
  .container {
    margin-top: 20px;
    font-size: 13px;
    display: block;
  }
  .col-md-4 {
    padding-left: 0;
  }
  .col-md-3 {
    padding-right: 0;
    .social-icons {
      float: right;
      a {
        margin-right: 25px;
      }
      .rss-icon {
        margin-right: 0;
      }
    }
  }
  .centered {
    padding-top: 5px;
  }
  .footer-first {
    border-bottom: 1px solid #bed3e0;
    float: left;
    margin: 0px 0px 14px 0px;
  }
  ul {
    padding: 0;
    li {
        display: inline-block;
        margin-bottom: 5px;
        margin-left: 0;
    }
  }
  .col-md-6 {
    width: 50%;
  }
}
.footer .sectioned.nav-links a {
  padding: 5px 0;
}
.footer .basement.nav-links a {
  margin-left: 12px;
}
.footer .centered.legal-copy {
  padding-top: 0;
}
.goldfinger .header.navbar {
  background-color: #f1f1f1;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,.28);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.28);
  box-shadow: 0 1px 3px rgba(0,0,0,.28);
  border-bottom:  0;
}
.navbar-collapse {
  padding-right: 0;
}
.navbar>.container .navbar-brand {
  padding: 7px 0 0 0;
  margin-left: 0;
}
.nav>li>a {
  padding-top: 17px;
  padding-bottom: 18px;
}
.header .nav>li.dropdown {
  border-right: #cccccc 1px solid;
}
.nav>li.dropdown>a {
  padding-top: 14px;
  padding-bottom: 13px;
}
li.user-menu > a {
  padding-top: 14px !important;
  padding-bottom: 13px !important;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.dropdown-menu {
  left: -107px;
}
.reset-password,
.create-account,
.sign-in {
  padding-top: 23px;
  h1 {
      text-align: center;
      margin-bottom: 50px;
    }
  .social-integration {
    a {
      color: #fff;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      float: left;
      min-width: 235px;
      padding: 0px 10px 0px 0px;
    }
    .btn {
      padding: 4px 0px;
    }
    .twitter-btn {
      padding: 0px 0px 4px 0px;
    }
    .btn:active,
    .btn:focus {
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
    i,
    span {
      float: left;
      width: auto;
    }
    i {
      padding: 5px 5px 1px 5px;
      width: 40px;
    }
    span {
      padding: 6px 0 0 7px;
      font-size: 16px;
    }
    a.with-twitter {
      border: 1px solid #3c9fc6;
      background-color: #47b9e7;
      &:hover{
        background: #4dc2f0;
      }
      &:focus,
      &:active{
      -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
      -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
       box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
      }
    }
    .fa-twitter {
      border-right: 1px solid #3c9fc6;
    }
    a.with-facebook {
      background: #39599f;
      border: 1px solid #022a80;
      &:hover{
        background: #4164b1;
      }
      &:focus,
      &:active{
      -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
      -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
       box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
      }
    }
    .fa-facebook {
      border-right: 1px solid #022a80;
    }
    a.with-linkedin {
      background: #1b87bd;
      border: 1px solid #116995;
      &:hover{
      background: #2294cd;
      }
      &:focus,
      &:active{
      -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
      -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
       box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
      }
    }
    .fa-linkedin {
      border-right: 1px solid #116995;
    }
    .fa-google-plus {
      border-right: 1px solid #ba3a2a;
    }
    a.with-google-plus {
      background: #d54735;
      border: 1px solid #ba3a2a;
      &:hover{
      background: #db5240;
      }
      &:focus,
      &:active{
      -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
      -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
       box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
      }
    }
  }
  .action {
    .btn {
      padding: 10px 15px;
      @include text-transform-capitalize;
      font-size: 14px;
    }
  }
}
.form-control {
  border: 1px solid #cbcbcb;
  height: 40px;
}
.input-group-addon {
  padding: 0;
  vertical-align: top;
  background: none;
  .fa-fw {
  border: 1px solid #cbcbcb;
  background: #eeeeee;
  border-right: 0;
  padding: 5px 4px;
  min-width: 49px;
  }
}
.input-group-addon:first-child {
  border-right: 0;
  border: 0;
}
.crt-new-acc {
  h3{
    margin-top: 17px;
  }
  a {
    @include purple-btn;
    padding: 9px 12px;
    float: left;
  }
}
.form-wrapper {
  .input-group {
    margin-bottom: 10px;
  }
  .row {
    margin: 0;
    .remember-me-box {
      float: left;
      margin: -3px 0px -2px 0px;
    }
    .checkbox {
      display: inline-block;
      margin-top: 0px;
      float: left;
    }
    label.checkbox {
      padding-left: 5px;
      font-weight: normal;
      font-size: 13px;
    }
    .forgot-password-link {
      float: right;
      font-size: 13px;
      margin: -3px 0px -2px 0px;
      color: #333;
    }
  }
  .confirmation {
    float: left;
    font-size: 13px;
    margin-top: 5px;
  }
}
.bordered {
  float: left;
  margin-top: 30px;
  .col-lg-9 {
    float: none;
    margin: 0 auto;
  }
  p {
    font-size: 13px;
    width: 87%;
    margin: 0 auto 10px auto;
  }
  h2 {
    text-align: center;
  }
  .btn {
    @include canelBtn;
    padding: 9px 12px;
    margin-top: 10px;
  }
  .sign_up_message,
  form {
    width: 87%;
    margin: 0 auto;
  }
  .sign_up_message {
    padding-top: 20px;
    font-size: 13px;
  }
}
.col-md-6 {
  width: 51%;
}
.create-account {
  .action {
    margin-top: 10px;
  }
}
.reset-password {
  h1 {
    text-align: center;
    margin-bottom: 45px
  }
  .row {
    margin: 0
  }
}
.page-center-container {
  .col-md-5 {
    float: none;
    margin: 0 auto
  }
  .row {
    margin: 0;
  }
}
.recruiter-sign-in {
  .col-lg-4,
  .col-lg-6 {
    width: 100%
  }
}
.rec {
  text-align: center;
  margin: 27px 0 34px 0;
}
.rec-new-acc {
  width: 100%;
  select {
    width: 100%;
  }
}
.btn-primary {
  text-transform: uppercase;
  font-size: 14px;
}
.new_recruiter {
  label {
    padding-left: 5px;
  }
  .subscribe {
    margin-bottom: 0;
  }
}
.new_user {
  label {
    padding-left: 5px;
  }
}
/*profile pages*/

.profile {
  border: 1px solid #ccc;
  margin-top: 20px;
  float: left;
  width: 100%;
  .header {
    .pull-right {
      padding: 4px 0px 0px 0px;
    }
  }
  .input-group {
    margin-bottom: 10px;
  }
  h3 {
    font-size: 24px;
    margin: 0;
  }
  h4 {
    margin: 0;
    float: left;
  }
  .header {
    padding: 15px 18px;
    border-bottom: 1px solid #ccc;
    float: left;
    width: 100%;
    .fa-2x {
      font-size: 1em;
      color: #00b7e6;
    }
    ul {
      margin-left: 20px;
      li {
        padding-right: 10px;
        &:last-child{
          padding-right:0;
        }
      }
    }
  }
  ul {
    float: left;
    margin-bottom: 0;
    li {
      display: inline-block;
    }
  }
  .left-container {
    float: left;
    padding-left: 0;
    color: #fff;
    padding-right: 0;
    .user-img {
      float: left;
      width: 100%;
      background: #008dc2;
      padding: 12px 15px 0px 15px;
    }
    .incomplete {
      background: #003b51;
      padding: 12px 15px;
    }
    .links {
      background: #00b7e6;
      float: left;
      padding-bottom: 16px;
      li {
        display: block;
        float: left;
        width: 100%;
        padding: 16px 0 0 15px;
      }
      .active_link {
        background: #943cac;
        margin: 16px 0px 0px 0px;
        padding: 16px 0 16px 15px;
        a {
          padding: 2px 0px 0px 15px;
          &:hover {
            color: #fff;
          }
        }
      }
      .fa {
        float: left;
        font-size: 24px;
        min-width: 26px;
      }
      a {
        color: #fff;
        padding: 0px 0px 0px 15px;
        float: left;
        &:hover {
          color: #007a9a;
        }
      }
    }
  }
  .picture {
    float: left;
    margin-top: 15px;
    padding-bottom: 20px;
    text-align: center;
    width: 100%;
    .edit-avatar {
      width: 100%;
      height: auto;
      a {
        left: 170px;
        background: #fff;
        padding: 7px 8px 5px 8px;
        border-radius: 4px;
        box-shadow: 0px 0px 3px #000;
      }
    }
  }
  .completeness-dial {
    margin-top: 40px;
  }
  #slider-code .viewport {
    height: 60px;
    li {
      height: 50px;
      border: 0;
      a {
        @include purple-btn;
        float: left;
        padding: 6px 8px;
        margin: 4px 0px 0px 0px;
        span {
          float: right;
        }
        .fa-2x {
          font-size: 1em;
          float: left;
          padding: 2px 7px 2px 0px;
        }
      }
    }
  }
  .nxt-prev {
    float: right;
    a {
      margin: 10px 10px 0 0 !important;
      color: #fff;
    }
  }
  #slider-code {
    height: 87px;
  }
  .right-container.col-lg-9 {
    padding-right: 0;
    padding-left: 0;
  }
  .right-container{
    .navbar-nav>li>.dropdown-menu {
      left: -100px;
      li a {
        padding: 3px 25px;
      }
    }
    .profile-nav {
      h3 {
        padding: 15px 0px 15px 30px;
      }
    }
    .navbar-default {
      border-bottom: 1px solid #ccc;
      background: #eee;
      .navbar-nav>.active>a {
        background: #fff;
        border: 1px solid #ccc;
        border-bottom: 0;
        position: relative;
        &:after {
          background: #fff;
          height: 1px;
          position: absolute;
          content: " ";
          left: 0;
          bottom: -1px;
          width: 100%;
        }
      }
    }
    .user-position {
      float: left;
      width: 100%;
      padding-left: 30px;
      padding-top: 23px;
      padding-bottom: 23px;
      border-bottom: 1px solid #ccc;
      .title {
        width: 100%;
        padding-bottom: 8px;
      }
      .position {
        margin-bottom: 10px;
      }
      .current-job-title {
        float: left;
        width: 75px;
      }
      .previous-position,
      .current-position {
        padding-bottom: 8px;
        float: left;
        width: 100%;
      }
      .user-social {
        float: left;
        width: 100%;
      }
      .user-social a{
        padding-right: 18px;
        color: #333;
      }
      .user-social a[title="Twitter"]:hover {
        color: #00acee;
      }
      .user-social a[title="Github"]:hover {
        color: #4183c4;
      }
      .user-social a[title="Personal Website"]:hover {
        color: #042e94;
      }
      .user-social a[title="Linkedin"]:hover {
        color: #0e76a8;
      }
    }
    .education,
    .experience,
    .certificate {
      width: 100%;
    }
    .forms {
      float: left;
      padding-left: 30px;
      padding-right: 00px;
      width: 90%;
      margin-top: 16px;
      h3 {
        padding-bottom: 15px;
      }
      li {
      padding-bottom: 15px;
      width: 100%;
      }
      .edit-education-link {
        float: left;
      }
    }
  }
  .col-md-12 {
    padding: 0;

  }
  .title {
    float: left;
    padding-right: 15px;
    font-size: 18px;
  }
  .userCompany {
    float: left;
    width: 100%;
    padding: 5px 0;
  }
  .edit_profile{
    .picture {
      margin-top: 8px;
    }
    .im,
    .location,
    .phone {
      margin-bottom: -10px;
    }
    .external-profiles,
    .col-md-6 {
      padding-left: 30px;
      padding-right: 20px;
    }
    .external-profiles {
      float: left;
      padding-top: 0;
    }
    .top-wrapper {
      width: 100%;
      float: left;
    }
    .email {
      .fa-fw {
        border-right: 1px solid #cbcbcb;
      }
      .user-email {
        padding-left: 15px;
        vertical-align: middle;
        display: table-cell;
      }
    }
  }
  .profession-location,
  .external-profiles {
    padding-top: 25px;
    h4 {
      padding-bottom: 10px;
      width: 100%;
    }
    select {
      width: 100%;
      margin-bottom: 15px;
    }
  }
  .external-profiles {
    .input-group {
      width: 48%;
      float: left;
      margin-bottom: -10px;
    }
    .twitter,
    .linkedin {
      float: right;
    }
  }
  .available {
    float: left;
    padding-right: 15px;
  }
  .saveCancel {
    float: right;
    width: 100%;
    margin-bottom: 15px;
    .inner {
      float: right;
      padding-right: 15px;
    }
    a {
      @include canelBtn;
      margin-right: 15px;
    }
  }
  .skills-form {
    .col-md-5 {
      padding-left: 0;
      padding-right: 0;
      .form-control {
        border-right: 0;
      }
      .btn-lg {
        padding: 10px 16px 9px;
      }
    }
  }
  .description,
  .date {
    float: left;
  }
}
.password-reset {
  p {
    margin-left: -40px;
  }
}
#profile_phone,
#profile_code {
  width: 49%;
}
#profile_code {
  padding: 10px 5px 10px 5px;
  margin-right: 5px;
}
#profile_phone {
  margin-top: -3px;
}
.end {
  margin-bottom: 15px;
}
.skills div.tagsinput span.tag {
  @include purple-btn;
  border-radius: 0;
  font-size: 16px;
  padding: 5px 10px;
  margin-right: 15px;
  margin-top: 10px;
  &:hover {
    background: #6d319d;
    border: 1px solid #5e268b;
  }
  &:active {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}
.skills-form div.tagsinput span.tag {
  background: #f1f1f1;
  border: 1px solid #ccc;
  color: #333;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 0;
  margin-right: 15px;
  &:hover {
    background: #f1f1f1;
    border: 1px solid #ccc;
  }
  &:active {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  span {
    float: right
  }
  a {
    float: left;
    font-size: 18px;
    padding-right: 5px;
    color: #333;
    &:hover {
      color: #8F8F8F;
    }
  }
}
div.tagsinput {
  padding: 5px 5px 5px 0px !important;
  width: 100% !important;
}
.aac-setting {
  .setting-row {
    display: table;
    margin-bottom: 10px;
  }
  .text {
    display: table-cell;
    vertical-align: middle;
    padding-left: 15px;
    a {
      padding-left: 10px;
    }
  }
  .forms {
    h4 {
      width: 100%;
      margin-bottom: 20px;
    }
    .fa-fw {
      border-right: 1px solid #ccc;
    }
  }
  .link-connected {
    margin: 0px 20px 20px 0px;
  }
}

/*search-form*/

.search-form {
  background: #f9f9f9;
  border: 1px solid #ccc;
  float: left;
  width: 100%;
  padding: 15px;
  margin-top: 21px;
  margin-bottom: 25px;
  .form-control {
    width: 47%;
    display: inline-block;
  }
  #search_query {
    margin-right: 7px;
  }
  .btn-lg {
    float: right;
    padding: 10px 14px;
  }
  #suggestions {
    left: 90px;
    width: 40.41%;
    #searchresults {
      width: 100%;
      background: #fff;
      -webkit-box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.35);
      -moz-box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.35);
      box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.35);
      border: 1px solid #DDDDDD;
    }
    .result {
      width: 100%;
      display: block;
      padding: 15px;
      font-size: 14px;
      cursor: pointer;
      &:hover {
        background: #f1f1f1;
      }
    }
  }
}
.table-striped>tbody>tr:nth-child(odd)>th{
  color: #fff;
  background: #00B7E6 !important;
}
.destroy {
  margin-left: 10px;
}
.results .table {
  margin-bottom: 54px;
}

/*Pop-up stylings*/

.pop-up {
  .reset-password,
  .create-account,
  .sign-in {
    padding-top: 0;
  }
  .sign-in {
    .col-lg-10 {
      float: none;
      margin: 0 auto;
    }
  }
  h1 {
    margin-top: 0;
    margin-bottom: 20px;
  }
  h3 {
    margin-top: 0;
  }
  .input-gruop {
    display: table;
    padding-bottom: 10px;
  }
  .edit_education,
  .new_education,
  .edit_certificate,
  #new_certificate,
  .new_experience,
  .edit_experience {
    label {
      display: table-caption;
    }
    textarea {
      height: 100px;
    }
    .hasDatepicker {
      margin-left: -1px;
      margin-top: 1px;
    }
    #education_hidden,
    #certificate_hidden,
    #certificate_month,
    input[name="experience[hidden]"],
    #experience_current {
      float: left;
    }
    label[for="education_hidden"],
    label[for="certificate_hidden"],
    label[for="experience_hidden"],
    label[for="experience_current"] {
      display: inline-block;
      float: left;
      margin-left: 7px;
    }
    .date {
      width: 100%;
      input {
        width: 17%;
        float: left;
        margin-left: 10px;
        border-left: 1px solid #cbcbcb;
      }
      span {
        float: left;
        margin-top: 8px;
        margin-left: 5px;
      }
    }
    label[for="certificate_attachment"] {
      display: block;
    }
    .actions {
      width: 100%;
      float: left;
      .cancel {
        @include canelBtn;
        padding: 10px 16px 11px 16px;
        margin-right: 10px;
      }
      .fa-trash-o {
        float: left;
        margin-top: 6px;
        margin-right: 13px;
        color: #333;
      }
    }
  }
  #new_certificate {
    margin-top: 10px;

    .date {
      position: relative;
      .field_with_errors {
        input {
          margin-bottom: 15px
        }
      }
      .formError {
        position: absolute;
        top: 40px;
        &:last-child {
          left: 115px;
        }
      }
    }
  }
  .edit_certificate {
    .fa-upload {
      float: left;
      margin-right: 7px;
      margin-top: 1px;
    }
  }
  .new_email {
    .input-gruop {
      display: block;
      .input-group-addon {
        display: block;
        float: left;
        width: 50px;
      }
      .form-control {
        width: 70%;
        float: left;
        margin-right: 15px;
      }
    }
  }
  .col-xs-4 {
    padding: 0;
  }
  .edit_user{
    .cancel {
      @include canelBtn;
      padding: 10px 16px 11px 16px;
      margin-right: 15px;
    }
    .input-group {
      margin-bottom: 10px;
    }
  }
}
.edu-del {
  h3 {
    float: left;
    width: 100%;
  }
  .Cancel {
    @include canelBtn;
    padding: 11px 16px 12px 16px;
    margin-left: 10px;
  }
}
.edit-photo {
  .col-lg-6 {
    padding-left: 0;
    padding-right: 0;
    width: 50%;
  }
  .image-canvas {
    border-right: 1px solid #ccc;
    .col-lg-4 {
      width: 42%;
    }
  }
  .image-preview {
    padding-left: 60px;
    .preview {
      float: left;
      width: 100%;
      margin-top: 15px;
    }
    .actions {
      a {
        @include canelBtn;
        padding: 10px 12px  12px 12px;
        margin-right: 10px;
      }
    }
  }
  .show {
    margin-bottom: 15px;
  }
}
.manage-email{
  .col-xs-12{
    padding: 0;
    float: left;
    margin-bottom: 20px;
  }
}


/*Creat & Edit Job Posting*/

.job-preview,
.edit_job,
.new_job {
  .pricing,
  .finishing-touches,
  .position,
  .work-environment {
    margin-top: 15px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
  }
  .finishing-touches {
    .field_with_errors {
      float: left;
      margin-right: 5px;
    }
  }
  .pricing {
    border-bottom: 0;
  }
  label {
    font-size: 14px;
  }
  .mce-container {
    margin-bottom: 10px;
  }
  legend {
    border: 0;
    margin-bottom: 15px;
  }
  .mce-menubar {
    display: none;
  }
  .draft {
    @include canelBtn;
  }
  .datepicker {
    border-radius: 0;
  }
  .form-control {
    width: 30%;
    margin-bottom: 7px;
  }
  select {
    width: 33%;
    margin-bottom: 7px;
  }
  .actions  {
    margin-bottom: 10px;
  }
  label {
    margin-bottom: 0;
  }
  .commence-date,
  .finish-date {
    display: inline-block;
    width: 30%;
    .form-control {
      width: 100%;
    }
  }
}
.social-welcome {
  .col-md-8 {
    padding-right: 0;
  }
  .input-group {
    margin-bottom: 10px;
  }
}
td.title {
  .location {
    font-style: italic;
  }
}
.job-preview {
  margin-top:20px;
  fieldset {
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
  a {
    display: block;
    margin-top: 7px;
  }
}

.job-confirm {
  .Cancel {
    @include canelBtn;
    padding: 10px 16px 12px 16px;
    margin-right: 10px;
  }
  .fa-warning {
    color: #cc0000;
  }
}
