<p>Hello <%= @resource.email %>, looks like you forgot your password!</p>

<p>Please click the link below and choose a new password:<br />
  <%= link_to 'Change my password', edit_user_password_url(@resource, :reset_password_token => @resource.reset_password_token) %>
</p>

<p>Welcome back</p>
<p>Postbord Support Team</p>
