<div class="pop-up manage-email">
  <h1>Manage Email Addresses</h1>
  <h4>Add email address</h4>

  <%= render :partial => "form" %>
  <%= error_message_on(@email,:address) %>

  <% @emails.each do |email| %>
    <% if email.persisted? %>
      <div class="col-xs-12">
        <div class="col-xs-4">
          <%= email.address unless email.primary? %>
          <%= current_user.primary_email if email.primary? %>
        </div>
        <div class="col-xs-4"><%= link_or_primary(email) %></div>
        <div class="col-xs-4"><%= link_to_remove_email(email) unless email.primary? %></div>
      </div>
    <% end %>
  <% end %>

  <%= button_tag "Close", :class => "btn btn-primary btn-lg", :onclick => "parent.$.fn.colorbox.close();" %>
</div>