<%= form_for([@user, @email], :url => profile_emails_path) do |f| %>

  <div class="field input-gruop">
    <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw fa-2x"></i></span>
    <%= f.text_field :address, :placeholder => "Email Address", :class => "form-control" %>
    <%= f.submit "Add", :class => "btn btn-primary btn-lg" %>
  </div>

<% end %>
