<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @email.user_id %>
</p>

<p>
  <b>Address:</b>
  <%= @email.address %>
</p>

<p>
  <b>Primary:</b>
  <%= @email.primary %>
</p>


<%= link_to 'Edit', edit_email_path(@email) %> |
<%= link_to 'Back', emails_path %>
