<div class="pull-left span8 col-md-12">
  <div class="pull-left"><h3><i class="fa fa-book fa-1x"></i>
    <span>Education</span></h3></div>
  <div class="pull-right">
    <%= link_to '<i class="fa fa-plus"></i> Add Education'.html_safe, new_profile_education_path(@user), :class => 'add-education-colorbox' %>
  </div>
</div>

<ul>
  <% @educations.each do |education| %>
    <li class="education">
      <div class="title"><%= education.school %></div>
      <div class="edit-education-link">
        <%= link_to edit_profile_education_path(@user, education), :class => "edit-education-colorbox" do  %>
          <i class="fa fa-pencil-square-o"></i>
        <% end %>
      </div>
      <div><span class="userCompany"><%= education.degree %></span></div>
      <div class="date"><span><%= education.enrollment_year %></span> - <span><%= education.graduation_year %></span></div>
    </li>
  <% end %>
</ul>
