<div class="field input-gruop">
  <span class="input-group-addon"><i class="fa fa-briefcase fa-fw fa-2x"></i></span>
  <%= f.text_field :school, :placeholder => "School", :class => "form-control" %>
  <%= error_message_on(@education,:school) %>
</div>

<div class="field input-gruop">
  <span class="input-group-addon"><i class="fa fa-briefcase fa-fw fa-2x"></i></span>
  <%= year_select(f, :name => :enrollment_year, :select_options => enrollment_year_range, :blank_text => "Enrolment Year" ) %>
    ___
    <%= year_select(f, :name => :graduation_year, :select_options => graduation_year_range, :blank_text => "Graduation Year") %>
  <%= error_message_on(@education,:enrollment_year) %>
  <%= error_message_on(@education,:graduation_year_limit) %>
</div>

<div class="field input-gruop">
  <span class="input-group-addon"><i class="fa fa-briefcase fa-fw fa-2x"></i></span>
  <%= f.text_field :degree, :placeholder => "Degree", :class => "form-control" %>
  <%= error_message_on(@education,:degree) %>
</div>

<div class="field input-gruop">
  <span class="input-group-addon"><i class="fa fa-briefcase fa-fw fa-2x"></i></span>
  <%= f.text_field :grade, :placeholder => "Grade", :class => "form-control" %>
  <%= error_message_on(@education,:grade) %>
</div>

<div class="field">
  <%= f.check_box :hidden %>
  <%= f.label :hidden %>
</div>

<div class="actions">
  <%= remove_education_link if @education.persisted? %>
  <%= colorbox_cancel_link %>
  <%= f.submit 'Create Education',:class => "btn btn-primary btn-lg" %>
</div>
