<div class="pop-up">
  <h1>Editing education</h1>
  <%= form_for([@user, @education], :url => profile_education_path(@user, @education)) do |f| %>
    <%= render :partial => 'form', :locals => {:f => f} %>
  <% end %>
</div>
