$(".forms").html("<%= raw escape_javascript(render :partial => 'educations/educations') %>")
$(".add-education-colorbox").colorbox({iframe: true, innerWidth: "50%", innerHeight: "55%"});
$(".edit-education-colorbox").colorbox({iframe: true, innerWidth: "50%", innerHeight: "55%"});
