<div class="pop-up">
  <h1>Add Education</h1>
  <%= form_for([@user, @education], :url => profile_educations_path) do |f| %>
    <%= render :partial => 'form', :locals => {:f => f} %>
  <% end %>
</div>
