<div class="edu-del">
	<h3>Are you sure you want to delete this Education</h3>
  <%= link_to "Yes, delete", profile_education_path(@user, @education), :class => "btn btn-primary btn-lg", :method => :delete %>
  <%= link_to "Cancel",  edit_profile_education_path(@user, @education), :class => "Cancel" %>
</div>
