<p id="notice"><%= notice %></p>

<p>
  <b>School:</b>
  <%= @education.school %>
</p>

<p>
  <b>Enrollment year:</b>
  <%= @education.enrollment_year %>
</p>

<p>
  <b>Graduation year:</b>
  <%= @education.graduation_year %>
</p>

<p>
  <b>Degree:</b>
  <%= @education.degree %>
</p>

<p>
  <b>Grade:</b>
  <%= @education.grade %>
</p>


<%= link_to 'Edit', edit_education_path(@education) %> |
<%= link_to 'Back', educations_path %>
