<p id="searchresults">
  <% if @suggestions.present? %>
    <% @suggestions.each do |suggestion| %>
      <span class="result" onclick="populate_search_field(this)"><%= suggestion.titleize %></span>
    <% end %>
    <div class="clearfix"></div>
  <% end %>
</p>
