<div class="social-icons stay-connected">
  <h3>Pellentesque in ipsum</h3>
  <ul>
    <li>
      <%= link_to 'http://twitter.com/postbord/', title: 'Twitter', target: '_blank', class: 'glyphicon twitter-icon' do %>
        <i class="fa fa-twitter fa-2x"></i>
      <% end %>
      <%= link_to 'http://facebook.com/postbord/', title: 'Facebook', target: '_blank', class: 'glyphicon facebook-icon' do %>
        <i class="fa fa-facebook fa-2x"></i>
      <% end %>
      <%= link_to 'http://linkedin.com/company/postbord/', title: 'LinkedIn', target: '_blank', class: 'glyphicon linkedin-icon' do %>
        <i class="fa fa-linkedin fa-2x"></i>
      <% end %>
      <%= link_to 'https://plus.google.com/u/0/b/103504400875974379428/', title: 'Google+', target: '_blank', class: 'glyphicon google-plus-icon' do %>
        <i class="fa fa-google-plus fa-2x"></i>
      <% end %>
      <%= link_to 'http://youtube.com/user/postbord/', title: 'YouTube', target: '_blank', class: 'glyphicon youtube-icon' do %>
        <i class="fa fa-youtube fa-2x"></i>
      <% end %>
      <%= link_to '#', title: 'Postbord RSS', target: '_blank', class: 'glyphicon rss-icon' do %>
          <i class="fa fa-rss fa-2x"></i>
      <% end %>
    </li>
  </ul>
</div>
