<link rel="canonical" href="http://www.postbord.com/" />
<link rel="alternate" media="only screen and (max-width: 640px)" href="http://m.postbord.com/" />
<link rel="logo" type="image/svg" href="/assets/logos/postbord-logo.svg" />

<!--
    stylesheets
    ================================================== -->
<%= stylesheet_link_tag 'application', media: 'all' %>
<!--[if IE]>
<link href="ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
<![endif]-->
<!--
     HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
     WARNING: Respond.js doesn't work if you view the page via file://
     ================================================== -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<script>window.html5 || document.write('<script src="/assets/javascripts/vendor/html5.js"><\/script>')</script>
<![endif]-->
<!--
    fav icons & startup screens
    ================================================== -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/icons/apple-touch-icon-144-precomposed.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/icons/apple-touch-icon-114-precomposed.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/icons/apple-touch-icon-72-precomposed.png" />
<link rel="apple-touch-icon-precomposed" href="/assets/icons/apple-touch-icon-57-precomposed.png" />
<link rel="apple-touch-startup-image" href="/assets/icons/apple-startup-screen.png" />
<link rel="shortcut icon" href="/assets/icons/shortcut-icon.png" />
<link rel="fluid-icon" type="image/png" href="/assets/icons/fluid-icon.png" />
