<footer class="footer bg-link-water" itemscope itemtype="http://schema.org/WPFooter">
  <div class="container">
    <div class="centered footer-first">
      <div>
        <div class="col-md-4">
          <div class="about-blurb">
            <h3>Praesent sapien massa</h3>
            <p>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Nulla quis lorem ut libero malesuada feugiat. Pellentesque in ipsum id orci porta dapibus.</p>
          </div>
        </div>
        <div class="col-md-5">
          <div class="sectioned nav-links">
            <div class="col-md-6">
              <h3>Mauris blandit</h3>
              <ul>
                <li><%= link_to 'Praesent sapien massa', '#' %></li>
                <li><%= link_to 'Donec velit neque', '#' %></li>
                <li><%= link_to 'Pellentesque in ipsum', '#' %></li>
                <li><%= link_to 'Sed porttitor', '#' %></li>
              </ul>
            </div>
            <div class="col-md-6">
              <h3>Nulla quis lorem</h3>
              <ul>
                <li><%= link_to 'Vestibulum ante ipsum', '#' %></li>
                <li><%= link_to 'Nulla quis lorem', '#' %></li>
                <li><%= link_to 'Mauris blandit aliquet', '#' %></li>
                <li><%= link_to 'Pullamcorper sit amet', '#' %></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <%= render :partial => 'layouts/social_media/follow_us' %>
        </div>
      </div>
    </div>    
    <div class="centered legal-copy">
      <p class="copyright-text pull-left">
          <strong>Postbord</strong> &copy; <%= Time.now.year %>
      </p>
        <ul class="basement nav-links pull-right">
          <li><%= link_to 'Terms of Service', '#' %></li>
          <li><%= link_to 'Privacy Policy', '#' %></li>
          <li><%= link_to 'Contact Us', '#' %></li>
        </ul>
    </div>
    </div>
  </div>
</footer>
