<header class="header navbar" itemscope="" itemtype="http://schema.org/WPHeader" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand postbord">
        <%= link_to image_tag("logo.png"), root_url, class:'logo', title: 'Postbord' %>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="pull-right nav navbar-nav">
          <li>
            <ul class="nav navbar-nav">
              <li><%= link_to 'Support', '#', class:'' %></li>
              <li class="recruiters"><%= link_to 'Recruiters', new_recruiter_session_path, class:'' %></li>
            </ul>
          </li>
          <li class="user-menu">
            <%= header_menu %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
