<%= javascript_include_tag 'application' %>
  <!--
  analytics & tracking tags
  ==================================================

  <%= render :partial => 'layouts/google_analytics' %>
  <%= render :partial => 'layouts/mixpanel' %>
  <%= render :partial => 'layouts/woopra' %>

  -->
