<ul class="nav navbar-nav header-dropdown">
  <li class="dropdown">
    <%= link_to profile_path(current_user), :class => 'dropdown-toggle', 'data-toggle' => 'dropdown' do %>
      <%= font_awesome_icon("fa fa-user fa-2x") %>
    <% end %>
    <ul class="dropdown-menu">
      <li><%= link_to 'My Profile', profile_path(current_user) %></li>
      <li><%= link_to 'Jobs', jobs_path %></li>
      <li><%= link_to 'Settings', edit_account_path(current_user) %></li>
      <li class="divider"></li>
      <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete  %></li>
    </ul>
  </li>
</ul>
