<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="description" content="<%= meta_description %>" />
<meta property="fb:app-id" content="" />

<!-- Open Graph Meta properties -->
<meta property="og:site_name" content="Postbord" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://www.postbord.com/" />
<meta property="og:title" content="Postbord" />
<meta property="og:description" content="" />

<!-- Twitter Meta properties -->
<meta property="twitter:url" content="http://www.postbord.com/" />
<meta property="twitter:description" content="" />
<meta property="twitter:card" content="summary" />
<meta property="twitter:title" content="" />
<meta property="twitter:account_id" content="" />

<!-- mobile viewport meta
================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
<meta name="HandheldFriendly" content="true" />
<meta name="MobileOptimized" content="320" />
<meta name="viewport" content="target-densitydpi=device-dpi" />

<!-- mobile friendly metas
================================================== -->
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<meta name="format-detection" content="telephone=no" />
<meta name="msapplication-TileImage" content="/assets/ico/ms-windows-tile.png" />

<!-- analytics & tracking meta
================================================== -->
<meta name="google-analytics" content="UA-43962937-1" />
<meta name="mixpanel" content="8860d497b36d3afc81ee1cda54d8881f" />
<meta name="google-site-verification" content="xbcoa5t8c46Nx91vtNKkmaR-tEPZqKMer3qlV2thxcY" />
