<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="no-js iem7" manifest="default.appcache?v=1"><![endif]-->
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <%= csrf_meta_tags %>
  <title><%= page_title %></title>
  <%= render :partial => 'layouts/meta' %>
  <%= render :partial => 'layouts/assets' %>
</head>
<body data-env="<%= cuurent_env %>" class="<%= cuurent_env %> <%= browser_env %> <%= browser_os %> <%= browser_name %> <%= controller_name %> <%= action_name %>" itemscope itemtype="http://schema.org/WebPage">
<div class="goldfinger">
  <%= render :partial => 'layouts/header' %>
  <div class="main-section">
    <div class="clearfix container">
      <div class="fa-spinner fa invisible" style="display: none;"></div>
      <%= render :partial => 'layouts/messages' %>
      <%= yield %>
    </div>
  </div>
  <%= render :partial => 'layouts/footer' %>
</div>
<div class="jssdk">
  <%= render :partial => 'layouts/js' %>
</div>
</body>
</html>
