<!DOCTYPE html>
<html lang="en">
<head>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>
<div class="goldfinger">
  <div class="clearfix container">
    <div class="fa-spinner fa invisible"></div>
    <%= yield %>
  </div>
</div>
<div class="jssdk">
  <%= render :partial => 'layouts/js' %>
</div>
</body>
</html>
