<h4>Connected Accounts</h4>

<%= connected_account("facebook") %>
<%= connected_account("linkedin") %>
<div class="clearfix"></div>
<%= connected_account("google-plus") %>
<%= connected_account("twitter") %>
