<div class="profile">
  <div class="header"><%= render :partial => 'profiles/header' %></div>
  <%= form_for(@profile, :url => account_path(@user), :method => :put) do |f| %>
    <div class="col-md-3 left-container">
      <div class="user-img">
        <h4><%= @user.name %></h4>
        <div class="picture"><%= profile_image %></div>
      </div>
      <div class="pull-left span4"><%= render :partial => 'profiles/navigation' %></div>
    </div>
    <div class="col-lg-9 right-container">
      <div> <%= render :partial => "shared/setting_menu" %> </div>
      <div class="pull-right"><%= render :partial => 'profiles/menu' %></div>
      <div class="top-wrapper">
        <div class="col-md-12">
          <div class="bio col-md-6">
            <div class="name input-group">
            <span class="input-group-addon">
              <%= font_awesome_icon("fa fa-fw fa-user fa-2x") %>
            </span>
            <%= text_field :user, :name, :class => "form-control" %>
          </div>
          <div class="input-group col-md-12">
            <%= f.text_area :bio, :placeholder => "Tell us about yourself in 160 characters", :rows => "4", :class => "form-control" %>
          </div>
          <span class="formError"><%= error_message_on(@profile, :bio) %></span>
        </div>
        <div class="email input-group col-md-6">
          <span class="input-group-addon">
            <%= font_awesome_icon("fa fa-fw fa-envelope fa-2x") %>
          </span>
          <div class="user-email"><%= primary_email_for(@user) %></div>
        </div>
        <div class="phone input-group col-md-6">
            <span class="input-group-addon">
            <%= font_awesome_icon("fa fa-fw fa-phone-square fa-2x") %>
           </span>
           <%= f.select :code, options_for_select(country_code_selector, @profile.code) %>
           <%= f.text_field :phone, :placeholder => "Phone Number", :class => "form-control" %>
            <span class="formError"><%= error_message_on(@profile, :phone) %></span>
        </div>
        <div class="location input-group col-md-6">
          <span class="input-group-addon">
            <%= font_awesome_icon("fa fa-fw fa-map-marker fa-2x") %>
          </span>
          <%= f.text_field :location, :placeholder => "Location", :class => "form-control" %>
          <span class="formError"><%= error_message_on(@profile, :location) %></span>
        </div>
        <div class="im input-group col-md-6">
          <span class="input-group-addon">
            <%= font_awesome_icon("fa fa-fw fa-phone-square fa-2x") %>
          </span>
          <%= f.text_field :im, :placeholder => "IM", :class => "form-control" %>
          <span class=
          "formError"><%= error_message_on(@profile, :im) %></span>
        </div>
        <div class="address input-group col-md-6">
          <span class="input-group-addon">
            <%= font_awesome_icon("fa fa-fw fa-home fa-2x") %>
          </span>
          <%= f.text_field :address, :placeholder => "Address", :class => "form-control" %>
          <span class="formError"><%= error_message_on(@profile, :address) %></span>
        </div>
        <div class="external-profiles col-md-12">
          <div class="clearfix"></div>
          <h4>External Profiles</h4>
          <div class="clearfix"></div>
          <div class="personal_website input-group">
            <span class="input-group-addon">
              <%= font_awesome_icon("fa fa-fw fa-globe fa-2x") %>
            </span>
              <%= f.text_field :personal_website, :class => "form-control" %>
            <span class="formError"><%= error_message_on(@profile, :personal_website) %></span>
          </div>
          <div class="linkedin input-group">
            <span class="input-group-addon">
              <%= font_awesome_icon("fa fa-fw fa-linkedin fa-2x") %>
            </span>
            <%= f.text_field :linkedin, :class => "form-control" %>
            <span class="formError"><%= error_message_on(@profile, :linkedin) %></span>
          </div>
          <div class="github input-group">
            <span class="input-group-addon">
              <%= font_awesome_icon("fa fa-fw fa-github fa-2x") %>
            </span>
              <%= f.text_field :github, :class => "form-control" %>
            <span class="formError"><%= error_message_on(@profile, :github) %></span>
          </div>
          <div class="twitter input-group">
            <span class="input-group-addon">
              <%= font_awesome_icon("fa fa-fw fa-twitter fa-2x") %>
            </span>
            <%= f.text_field :twitter, :class => "form-control"  %>
            <span class="formError"><%= error_message_on(@profile, :twitter) %></span>
          </div>
        </div>
        <div class="profession-location col-md-6">
          <h4>Profession/Location</h4>
          <%= select_tag "relocate", options_for_select([["Happy to relocate within", ""]]) %>

          <div class="clearfix">
          </div><%= select_tag "relocate", options_for_select([["Actively seeking new role", ""]]) %>

          <div class="clearfix"></div>
          <span class="available">Available after 2 weeks notice</span>
          <%= font_awesome_icon("fa fa-edit fa-2x") %>
        </div>
        </div>
        <div class="saveCancel">
          <div class="inner">
            <%= link_to "Cancel", profile_path(current_user), :class=> "btn btn-primary btn-lg" %>
            <%= submit_tag "Save", :class => "btn btn-primary btn-lg" %>
          </div>
        </div>
      </div>
    </div>
      <span class="formError"><%= error_message_on(@user, :first_name) %></span>
      <span class="formError"><%= error_message_on(@user, :last_name) %></span>
    <% end %>
  </div>
  </div>
</div>
